* {
  overflow-x: hidden; }

.main {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .main .menu {
    position: absolute;
    left: 0px;
    margin: auto;
    width: 5vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center; }
    .main .menu #centerMenu {
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: center;
      width: 5vw;
      transition: all 1s; }
      .main .menu #centerMenu .dashIcon {
        display: flex;
        flex: 1 1 auto;
        padding: 2vh;
        padding-left: 1vh;
        margin: auto;
        margin-left: 0;
        max-height: 7vh;
        align-items: center; }
        .main .menu #centerMenu .dashIcon .dashImage {
          display: flex;
          opacity: 0.6;
          margin: auto;
          transition: all 0.5s; }
      .main .menu #centerMenu .dashImage:hover {
        opacity: 1; }
      .main .menu #centerMenu .dashImage.active {
        opacity: 1; }
  .main #dashes {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column; }
    .main #dashes .dash {
      display: flex;
      height: 100vh;
      width: 100vw;
      flex-direction: row;
      flex-wrap: wrap; }
      .main #dashes .dash .widget {
        flex: 1 1 auto;
        max-width: 58vw;
        min-width: 24vw;
        margin: 1vw 1vw 1vw 2vw;
        border-radius: 10pt;
        border: 1px solid orange;
        background-color: rgba(0, 0, 0, 0.8);
        max-height: 80vh;
        min-height: 40vh;
        transition: all 0.6s; }
