@import './mixins/full.scss';
@import './Menu.scss';
.DashController {
  @include full();
  flex-direction: row;
  .dashContainer {
    height: 100vh;
    width: 100vw;
    .dash {
      height: 98vh;
      width: 98vw;
      margin: 1vh 1vw 1vh 1vw;
      flex-direction: row;
    }
  }
}
