.widget {
  border: 1px solid orange; }

.dashContainer {
  border: 1px solid green; }

.dashController {
  border: 1px solid red; }

.menuIcon {
  border: 1px solid brown; }

.dash {
  border: 1px solid black; }
