.widget,
.miniWidget {
  border: 1px solid orange; }

.menuIcon {
  border: 1px solid red; }

.dash {
  border: 1px solid black; }

.settings {
  border: 1px solid blue; }

.menu {
  border: 1px solid white; }

.miniDashCont {
  border: 1px dotted red; }
