.menu {
  width: 10vw;
  align-items: center;
  display: flex;
  height: 100vh;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.6s; }
  .menu.smallMenu {
    opacity: 0; }
  .menu .miniDash,
  .menu .miniDashCont {
    overflow: hidden;
    display: flex;
    margin: auto;
    flex: 1 1 auto;
    z-index: 101;
    transition: all 0.6s;
    width: 10vw;
    height: 10vw;
    position: relative;
    flex-direction: row;
    align-items: center; }
  .menu .miniDash {
    border: 1px solid black;
    opacity: 0.9; }

.DashController {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  flex-direction: row; }
  .DashController .settings {
    height: 2vw;
    width: 2vw;
    right: 1vw;
    top: 1vh;
    position: absolute;
    border-radius: 20%; }
  .DashController .dashContainer {
    height: 100vh;
    width: 100vw; }
    .DashController .dashContainer .miniDashCont {
      left: 1vw;
      position: absolute;
      height: 5vw;
      width: 8vw;
      overflow: hidden;
      top: 45vh;
      opacity: 1;
      transition: 0.5s all; }
      .DashController .dashContainer .miniDashCont.hidden {
        opacity: 0; }
    .DashController .dashContainer .dashBg {
      display: block;
      position: absolute;
      height: 100vh;
      width: 100vw;
      left: 0px;
      top: 0px;
      background-size: "cover"; }
      .DashController .dashContainer .dashBg .dash {
        height: 98vh;
        width: 98vw;
        margin: 1vh 1vw 1vh 1vw;
        flex-direction: row; }
