.menu {
  max-width: 4vw;
  align-items: center;
  display: flex;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.4); }
  .menu .menuIcon {
    display: flex;
    margin: auto;
    flex: 1 1 auto;
    max-width: 5vw;
    max-height: 5vw;
    position: relative;
    flex-direction: row;
    align-items: center; }
    .menu .menuIcon .menuPicture {
      flex: 1 0 auto;
      max-width: 5vw;
      max-height: 5vw; }

.DashController {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  flex-direction: row; }
  .DashController .dashContainer {
    height: 100vh;
    width: 100vw; }
    .DashController .dashContainer .dash {
      height: 98vh;
      width: 98vw;
      margin: 1vh 1vw 1vh 1vw;
      flex-direction: row; }
