.loginPage {
  display: flex !important;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px; }
  .loginPage .loginContainer {
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh; }
    .loginPage .loginContainer .loginElem {
      display: flex;
      flex: 1 1 auto; }
    .loginPage .loginContainer .mylo-logo {
      flex-direction: column;
      align-items: center; }
      .loginPage .loginContainer .mylo-logo .mylo-logo-img {
        margin: auto;
        display: flex;
        position: relative;
        width: 5vw;
        height: 5vw; }
    .loginPage .loginContainer .cheesy-text {
      color: white;
      text-shadow: 0.1px 0.1px black;
      line-height: 1.5;
      text-align: center; }
    .loginPage .loginContainer .seperator {
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .loginPage .loginContainer .seperator .seperator-line {
        width: 7vw;
        margin: 1.5vw;
        height: 1px;
        background-color: white; }
      .loginPage .loginContainer .seperator .seperator-text {
        color: white;
        font-size: 1vw; }
