.menu {
  width: 5vw;
  align-items: center;
  display: flex;
  height: 100vh;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.6s; }
  .menu.smallMenu {
    width: 1px !important; }
  .menu .miniDash,
  .menu .miniDashCont {
    overflow: hidden;
    display: flex;
    margin: auto;
    flex: 1 1 auto;
    z-index: 101;
    transition: all 0.6s;
    width: 5vw;
    height: 5vw;
    position: relative;
    flex-direction: row;
    align-items: center; }
  .menu .miniDash {
    border: 1px solid black;
    opacity: 0.9; }
