<!DOCTYPE html>
<html>

  <head>
    <title>MyLo - Your focal point for life on the Internet</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>

  <body>
    {{!--<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: '111825175967726',
        xfbml: true,
        version: 'v2.6'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>--}}
    <div id="fb-root"></div>
    <div id="main">
      <div id="loginBox">
        <div id="header">
          <span>Login to MyLo</span>
        </div>
        <div id="body">
          <div id="logins">
            {{!--<fb:login-button scope="public_profile, user_friends, email, user_about_me, user_actions.books, user_actions.fitness, user_actions.music, user_actions.news, user_actions.video, user_actions:{app_namespace}, user_birthday, user_education_history, user_events, user_games_activity, user_hometown, user_likes, user_location, user_managed_groups, user_photos, user_posts, user_relationships, user_relationship_details, user_religion_politics, user_tagged_places, user_videos, user_website, user_work_history, read_custom_friendlists, read_insights, read_audience_network_insights, read_page_mailboxes, manage_pages, publish_pages, publish_actions, rsvp_event, pages_show_list, pages_manage_cta, pages_manage_instant_articles, ads_read, ads_management, business_management, pages_messaging, pages_messaging_subscriptions, pages_messaging_payments, pages_messaging_phone_number" onlogin="checkFbState();"></fb:login-button>--}}
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
